<section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">
  
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="fw-normal mb-0 text-black">Order Cart</h3>
           
          </div>
          <div *ngIf="viewcart == 0">
            <img src="https://stories.freepiklabs.com/storage/18377/no-data-rafiki-1356.png" alt="noimage" style="margin-left:30%;height:300px;"
            />
          </div>
          <div class="card rounded-3 mb-4"  *ngFor="let item of viewcart; let i = index">
          
            <div class="card-body p-4">
              <div class="row d-flex justify-content-between align-items-center">
                <div class="col-md-2 col-lg-2 col-xl-2">
                  <img
                  [src]="item.productImage" 
                    class="img-fluid rounded-3" alt="Cotton T-shirt">
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                  <p class="lead fw-normal mb-2">{{item.product_Name}}</p>
                  
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                    <p class="lead fw-normal mb-2">${{item.product_Price}}</p>
                    
                  </div>
                
                  <div class="col-md-3 col-lg-3 col-xl-3">
                    <!-- <p class="lead fw-normal mb-2">{{item.quantity}}</p> -->
                    <input type="number" [(ngModel)]="item.quantity" (change)="updateAmount(i, item.quantity)">
                    
                  </div>
                  <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                    <a class="btn btn-danger" (click)="Deleteitem(item.id)">Delete</a>
                  </div>
              </div>
            </div>
          </div>
  
          
         
          <div class="d-flex justify-content-between p-2 mb-2" style="background-color: #e1f5fe;">
            <h5 class="fw-bold mb-0">Total Price:</h5>
            <h5 class="fw-bold mb-0">$.{{calculatetotal()}}</h5>
          </div>
   
          <div class="card">
            <div class="card-body">
              <button type="button" class="btn btn-warning btn-block btn-lg" routerLink="/order" *ngIf="calculatetotal() > 0">Proceed to Pay</button>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>
 


