
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <span>Pizza App</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="warn" (click)="openDialog()"  *ngIf="getToken()==null">SignUp</button>&nbsp;
    <button mat-raised-button color="accent" (click)="openDialogLogin()" *ngIf="getToken()==null">Login</button>
    <button mat-raised-button color="accent" routerLink="/home" *ngIf="getToken()!=null">Home</button>&nbsp;
    <button mat-raised-button color="accent" routerLink="/cart" *ngIf="getToken()!=null">Cart<span *ngIf="cart>=0">({{cart}})</span></button>&nbsp;
    <button mat-raised-button color="accent" (click)="openEditProfile()"  *ngIf="getToken()!=null">Edit Profile</button>&nbsp;

    <button mat-raised-button color="warn" (click)="logout()" *ngIf="getToken()!=null">Logout</button>

  </mat-toolbar>
  <div class="p-5 landingPage" *ngIf="getToken()==null">
    <h1>Pizza Delivery</h1>
    <p class="mt-4 para">Welcome to pizza delivery service. This is the place when you may choose the most delicious pizza you like from wide variety of options!</p>
    <hr>
    <p class="para1">We're performing delivery free of charge in case if your order is higher than 20$</p>
    <button type="button" class="btn btn-dark btn-lg" (click)="openDialogLogin()" >Sign In and Order</button>
</div>

<router-outlet></router-outlet>