<form [formGroup]="OrderForm">
  <br>
  <div class="order">
    <mat-form-field appearance="outline" style="margin-left: 30px;margin-top: 20px;">
      <mat-label>Card Number</mat-label>
      <input matInput placeholder="Card Number" formControlName="mynumber">
      
    </mat-form-field>
    <div *ngIf="OrderForm.get('mynumber')?.hasError('invalid6DigitNumber')" style="margin-left: 30px;margin-bottom: 20px;">
      Invalid 6 Digit Number
  </div>

    <br>
      <button type="button" class="btn btn-info" (click)="ConfirmOrder()" style="margin-left: 30px;margin-bottom: 20px;">Order</button>
  </div>
</form>
